version: '3.8'

services:
  my-web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3334:8080"
    volumes:
      - ../src:/var/www/html
    environment:
      - PHP_POOL_NAME=my-web-web
      - SSL_MODE=off
      - APP_URL=http://localhost:3334
    networks:
      - front
      - back
  my-web-schedule:
    build:
      context: .
      dockerfile: Dockerfile
    command: ["php", "artisan", "schedule:work"]
    volumes:
      - ../src:/var/www/html
    environment:
      - PHP_POOL_NAME=my-web-sch
      - SSL_MODE=off
      - APP_URL=http://localhost:3334
    networks:
      - front
      - back

networks:
  front:
    driver: bridge
  back:
    driver: bridge
